services:
  frontend:
    build: .
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./aperture-tools/server
    ports:
      - "8080:8080"
    env_file:
      - ./aperture-tools/server/.env
